<!-- <div class="container height">
    <div>
        <div class="header">
            <div class="header-inside">
                <div class="header-right"></div>
            </div>

        </div>
    </div>
</div>  -->
<!-- <div class="container-fluid h-100">
    <div>
        <div class="header mb-4 pb-3 custom-min-width position-relative">
            <div class="header-inside fixed-top d-flex w-100 bg-primary text-white z-10">
                <div></div>
            </div>
        </div>
    </div>
</div> -->
<!-- HTML -->
<!-- <div class="container-fluid h-100">
    <div>
        <div class="header mb-4 pb-3 custom-min-width position-relative">
            <div class="header-inside fixed-top d-flex w-100 bg-primary  text-white z-10">
                <div class="header-left h-100 bg-primary"></div>
                <div class="filpkart-f d-flex w-100 h-100">
                    <div class="flipkart-left d-flex justify-content-end">
                    <div class="flipkart-right d-flex justify-content-center flex-column">
                        <a href="#" class="flipkart-static  text-decoration: none; color: inherit; border: none; outline: none;cursor:pointer;">
                            <img width="75" src="../../assets/img/flipkart-plus_8d85f4.png" alt="Flipkart" title="Flipkart"
                            class="flipkart d-block">
                            
                        </a>
                        <a class="explore  fs-6 fst-italic mt-n1 cursor:pointer;"  href="/plus">
                            Explore
                            <span class="plus">Plus</span>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



    
    <div class="container-fluid h-100">
        <div>
            <div class="header mb-4 pb-3 custom-min-width position-relative">
                <div class="header-inside fixed-top d-flex w-100 bg-primary text-white z-10">
                    <div class="header-left h-100 bg-primary"></div>
                    <div class="filpkart-f d-flex w-100 h-100">
                        <div class="filpkart-left d-flex justify-content-end">
                            <div class="flipkart-right d-flex justify-content-center flex-column">
                                <a href="#" class="flipkart-a text-decoration-none text-inherit border-0 outline-0 cursor-pointer">
                                    <img width="75" src="../../assets/img/flipkart-plus_8d85f4.png" alt="Flipkart" title="Flipkart"
                                    class="flipkart d-block">
                                </a>
                                <a class="explore" href="/plus">
                                    Explore
                                    <span class="plus">Plus</span>
                                    <img src="../../assets/img/mini_magick20240613-1751-uq9wxw (1).jpg" class="plus-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-end"></div>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <div class="row-left d-inline-block">
                        <div class="login-container">
                            <div class="login-container-in">
                                <div class="login-h3">
                                    <h3 class="h3-login">
                                        <span class="h3-span">1</span>
                                    </h3>
                                    <div class="right-tick-container">
                                        <div class="login">
                                            Login
                                            <svg height="10" width="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="right-tick">
                                                <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" stroke="#2974f0"></path>
                                            </svg>
                                        </div>
                                        <div class="mobile-number">
                                            <div>
                                                <span class="number">+919944191542</span>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="change">Change</button>
                                </div>
                            </div>
                        </div>
                        <div class="delivery d-flex align-items-start ">
                            <div class="delivery-container">
                                <h3 class="delivery-address-container">
                                    <span class="two">2</span>
                                    <span class="delivery-address">Delivery-address</span>
                                </h3>
                                <div class="address">
                                    <div>
                                        <div>
                                            <label for="home-address" class="home-address">
                                                <input type="radio" class="pointer" name="address" readonly id="pointer" checked>
                                                <div class="pointer-img">
                                                    
                                                </div>
                                                <div class="name-addres">
                                                    <div class="xe4Z9L">
                                                        <div id="CNTCT99C081933A6246B38362D47EC" class="MJrwCP Kvq1RS"><p class="_2CGQQ4"><span class="_7Csqyg">Kalai Selvan</span><span class="VpZoP0">HOME</span><span class="AhImHH _7Csqyg">9944191542</span></p><span class="_2CGQQ4 H9XH1D">C25, Thirumalai street,
                                                 <span class="_7Csqyg">627002</span></span><button class="QqFHMw FA45gW _7Pd1Fp">Deliver Here</button></div><div class="OuY1an"><button type="button" class="_0eTOkm">EDIT</button></div></div></div></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


